:root {
  --cta-text: hsl(356, 100%, 66%);
  --cta-hover-bg: hsl(355, 100%, 74%);
  --text-heading: hsl(208, 49%, 24%);
  --text-white: hsl(0, 0%, 100%);
  --text-footer: hsl(240, 2%, 79%);
  --text-body: hsl(207, 13%, 34%);
  --footer-bg: hsl(240, 10%, 16%);
  --gradient-cta-one: hsl(13, 100%, 72%);
  --gradient-cta-two: hsl(353, 100%, 62%);
  --gradient-body-one: hsl(237, 17%, 21%);
  --gradient-body-two: hsl(237, 23%, 32%);
}
